span {
    display: block;
}

div.bubble {
    background-color: green;
    border-radius: 50%;
    color: white;
    display: table;
    font-size: 3em;
    height: 150px;
    margin: 0 auto;
    width: 300px;
    -webkit-transform: skew(45deg);
}

p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div#name {
    margin-left: 40%;
}
div#strains {
    margin-right: 40%;
    margin-top: 10px;
    -webkit-transform: skew(320deg);
}

div#locations {
    margin-top: 10px;
    margin-left: 40%;
}

body {
    background-color: black;
}

div:hover {
    background-color: red;
}







/* div.locationOne {
    display: flow-root;
    margin-top: 25px;
}

div#mapOne {
    height: 400px;
    width: 50%;
    float: left;
}

div.locationOneDetails {
    width: 45%;
    float: right;
    border: 5px black solid;
    margin-top: 50px;
    text-align: center;
}

div.locationTwo {
    margin-top: 25px;
}

div#mapTwo {
    height: 400px;
    width: 50%;
    float: right;
}

div.locationTwoDetails {
    width: 45%;
    float: left;
    border: 5px black solid;
    margin-top: 50px;
    text-align: center;
} */


/* 
Need to adjust layout when size is smaller than 574
*/