* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    border-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    display: grid;
    /* grid-template-rows: max-content 200px 1fr; */
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.cards > article.card {
    border: solid 2px black;
    text-align: center;
}

div.cards > article.card > p.cardHeaderDivsor {
    border: solid white;
    border-width: 2px 0 0 0;
    margin: 0px;
    height: 10px;
}

.flex-row {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
}

div.buttonLinks {
    text-align: center;
    cursor: pointer;
    margin: auto 10 auto 0;
}

div.buttonLinks > p {
    border: 1px solid black;
    background-color: #31f132;
    font-size: 2rem;
    border-radius: 17px;
    margin: 20 10 0 10;
    padding: 0 10;
}

div.flex-row > div.buttonLinks:nth-of-type(2) {
    margin-left: auto;
}

hr {
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

.strainsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    text-align: center;
}

.strainsItem {
    flex: 0 32%;
    height: 100%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    border: 2px solid black;
}

article.card > header > h2 {
    margin: 10;
}

.indica {
    background-color: rgb(199, 39, 199);
}

.sativa {
    background-color: #f6bb28;
}

.hybrid {
    background-color: #31f132;
}

.cards.strainsDeck {
    display: none;
}
body {
    background-color: black;
}
.card > p:not(.cardHeaderDivsor) {
    color: white;
}

div.cards > article.card, p.cardHeaderDivsor, hr.strongHR {
    border-color: white;
    margin-top: 10px;
}
div.cards > article.card > header:not(.indica):not(.sativa):not(.hybrid) {
    background-color: #31f132;
    color: black;
}

div.newsContainer {
    display: none;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}
div.newsContainer > p.postDate {
    color: rgb(181, 175, 165);
    width: 100%;
    float: left;
    font-size: 20px;
    margin: 10 0 0 0;
}

div.newsContainer > p {
    font-weight: 300;
    line-height: 24px;
    font-family: Poppins;
}

div.newsContainer > h2.postHeader,
div.newsContainer > p.postContent {
    color: rgb(216, 212, 207);
    font-size: 26px;
    width: 100%;
    float: left;
    padding-top: 20px;
    font-weight: 700;
    letter-spacing: 0;
    position: relative;
    padding: 0 0 10 0;
    line-height: normal;
    margin: 0;
}
div.newsContainer > p.postContent {
    font-size: 16px;
}
div.newsContainer > hr.strongHR {
    width: 100%;
}

/* This is when on slightly smaller screens but not mobile */
@media screen and (max-device-width: 825px) {
    div.flex-row:first-child {
        display: block;
        text-align: center;
    }

    div.flex-body > div.flex-row > div.buttonLinks {
        margin: 0 auto 0 auto;
        width: 166.167px;
        display: inline-block;
    }

    div.flex-body > div.flex-row {
        text-align: center;
    }

    /* This is phones */
    /* @media screen and (max-device-width: 507px) {
        div.flex-body > div.flex-row > div.buttonLinks {
            display: block;
            margin: 0 auto 1 auto;
        }

        div.buttonLinks > p {
            margin-top: 0;
        }
        div.buttonLinks > p#locations {
            margin: 5px 10px;
        }
    } */
}

